{@ru.mikhaildruzhinin.spacetraders.generated.client.model.Agent agent}

<table>
    <caption>Agent</caption>
    <thead>
        <tr>
            <td>Id</td>
            <td>Symbol</td>
            <td>HQ</td>
            <td>Credits</td>
            <td>Faction</td>
            <td>Ships</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{agent.getAccountId()}</td>
            <td>{agent.getSymbol()}</td>
            <td>{agent.getHeadquarters()}</td>
            <td>{agent.getCredits()}</td>
            <td>{agent.getStartingFaction()}</td>
            <td>{agent.getShipCount()}</td>
        </tr>
    </tbody>
</table>
