<table class="table table-hover table-bordered table-sm caption-top">
    <caption>Agent</caption>
    <thead class="table-primary">
        <tr>
            <td>Id</td>
            <td>Symbol</td>
            <td>HQ</td>
            <td>Credits</td>
            <td>Faction</td>
            <td>Ships</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span data-agent-id>-</span></td>
            <td><span data-agent-symbol>-</span></td>
            <td><span data-agent-hq>-</span></td>
            <td><span data-agent-credits>-</span></td>
            <td><span data-agent-faction>-</span></td>
            <td><span data-agent-ship-count>-</span></td>
        </tr>
    </tbody>
</table>
