{#include base.html}
    <header>
        <div class="m-1">
            <p class="mb-2" hx-get="/status" hx-trigger="every 2s">Loading status...</p>
        </div>
    </header>
    <main>
        <div class="m-1">

            <span data-agent-credits>-</span>
            <span data-agent-faction>-</span>
            <span data-agent-hq>-</span>

            <button type="button" class="btn btn-primary" hx-post="/submit" hx-trigger="click">Submit</button>

            {!TODO: replace with server-side events!}
            <div class="mb-2" hx-get="/agent" hx-trigger="every 2s">Loading agent...</div>

            {!TODO: replace with server-side events!}
            <div id="contracts" class="mb-2" hx-get="/contracts" hx-trigger="every 2s">Loading contracts...</div>

            {!TODO: replace with server-side events!}
            <div id="ships" class="mb-2" hx-get="/ships" hx-trigger="every 2s">Loading ships...</div>
        </div>
    </main>
    <footer></footer>
    {#script}
        <script src="/events.js"></script>
    {/script}
{/include}
