{#include base.html}
    <header>
        <div class="m-1">
            <p class="mb-2"><span data-status>Loading status...</span></p>
        </div>
    </header>
    <main>
        <div class="m-1">
            <button type="button" class="btn btn-primary" hx-post="/submit" hx-trigger="click">Submit</button>

            {#include IndexResource/agent.html}Loading agent...{/include}

            <div id="contracts" class="mb-2" hx-get="/contracts" hx-trigger="every 2s">Loading contracts...</div>

            <div id="ships" class="mb-2" hx-get="/ships" hx-trigger="every 2s">Loading ships...</div>
        </div>
    </main>
    <footer></footer>
    {#script}
        <script src="/events.js"></script>
    {/script}
{/include}
