{@java.util.List<ru.mikhaildruzhinin.spacetraders.generated.client.model.Ship> ships}

<table class="table table-hover table-bordered table-sm caption-top">
    <caption>Ships</caption>
    <thead class="table-primary">
    <tr>
        <td>Symbol</td>
        <td>Role</td>
        <td>Nav</td>
        <td>Crew</td>
        <td>Frame</td>
        <td>Reactor</td>
        <td>Engine</td>
        <td>Modules</td>
        <td>Mounts</td>
        <td>Cargo</td>
        <td>Fuel</td>
        <td>Cooldown</td>
    </tr>
    </thead>
    <tbody>
    {#for ship in ships}
        <tr>
            <td>{ship.getSymbol()}</td>
            <td>{ship.getRegistration().getRole()}</td>
            <td>
                {ship.getNav().getWaypointSymbol()}<br>
                {ship.getNav().getStatus()}
            </td>
            <td>{ship.getCrew().getCurrent()}</td>
            <td>{ship.getFrame().getName()}</td>
            <td>{ship.getReactor().getName()}</td>
            <td>{ship.getEngine().getName()}</td>
            <td>
                <ul>
                    {#for module in ship.getModules()}
                        <li>{module.getName()}</li>
                    {/for}
                </ul>

            </td>
            <td>
                <ul>
                    {#for mount in ship.getMounts()}
                        <li>{mount.getName()}</li>
                    {/for}
                </ul>

            </td>
            <td>
                capacity:&nbsp;{ship.getCargo().getCapacity()}<br>
                <br>
                {#for item in ship.getCargo().getInventory()}
                    {item.getName()}:&nbsp;{item.getUnits()}<br>
                {/for}
                <b>total:&nbsp;{ship.getCargo().getUnits()}</b>
            </td>
            <td>
                current:&nbsp;{ship.getFuel().getCurrent}<br>
                capacity:&nbsp;{ship.getFuel().getCapacity}
            </td>
            <td>
                total:&nbsp;{ship.getCooldown().getTotalSeconds()}s<br>
                remaining:&nbsp;{ship.getCooldown().getRemainingSeconds()}s<br>
            </td>
        </tr>
    {/for}
    </tbody>
</table>
